<button (click)="initNewStudent()">+</button>
<table>
  <thead>
    <th>Group</th>
    <th>Full name</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.group }}</td>
      <td>{{ student.fullName}}</td>
      <td>{{ student.gender}}</td>
      <td>{{ student.birthDay }}</td>
      <td><button (click)="editStudent(student)">Edit</button>
      <button>Delete</button></td>
    </tr>
  </tbody>
</table>

<app-add-edit-student [student]="studentToEdit" (studentsUpdated)=""></app-add-edit-student>